.popup__photo-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.21;
    margin: 0;
    color: #FFFFFF;
    position: absolute;
    margin-top: 10px;
    /* margin-left: 36px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 34px;
    padding-bottom: 24px; */
}