.profile {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 47.25px;
  align-items: center;
}

@media screen and (max-width: 735px) {
  .profile {
    flex-direction: column;
    padding-bottom: 36px;
  }
}
