.logstatus__close-button {
  background-image: url(../../../images/close_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.logstatus__close-button:hover {
  opacity: .6;
}
