.footer__author {
  color: #545454;
  font-size: 18px;
  line-height: 1.21;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media screen and (max-width: 920px) {
  .footer__author {
    padding-left: 50px;
  }
}

@media screen and (max-width: 520px) {
  .footer__author {
    font-size: 14px;
    padding-top: 48px;
    padding-bottom: 36px;
    padding-left: 19px;
  }
}
